# Игнорировать папку venv
.venv/

# Игнорировать папку .idea (для настроек проекта в IntelliJ, PyCharm и других IDE JetBrains)
.idea/

# Игнорируем всю папку target
target/

# Но исключаем папку allure_result, чтобы она была добавлена
!target/allure_results/

