# Игнорировать папку venv
venv/

# Игнорировать папку .idea (для настроек проекта в IntelliJ, PyCharm и других IDE JetBrains)
.idea/

# Игнорировать папку target (для сборок и других временных файлов)
target/
